<!doctype html>
<html lang="ko">
<head>
    <%- include('layout') -%>
</head>
<body>
    <%- include('navHeader') -%>
    <article>
        <div class="jumbotron errorFour">
            <h5>Sorry</h5>
            <br>
            <p>500 Error (We are trying to repair our Server, pls wait...)</p>
        </div>
    </article>
    <footer>
        <%- include('footer') -%>
    </footer>
    <%- include('script') -%>
</body>
</html>

