doctype html
html(lang='ko')
    head
        link(rel="stylesheet" href="/css/slider.css")
        include layout
    body
        include navHeader
        article
            include slide
        footer
        include script
        script(src="/js/slider.js")
