doctype html
html(lang='ko')
    head
        include layout
    body
        include navHeader
        article
            div.nick
                a(href="https://soundcloud.com/freakydo9")
                    img.icons.soundcloud(src="../img/soundcloud.png" alt="soundcloud")
                a(href="https://www.youtube.com/playlist?list=PLmr3nioO9VNMA4aq5uEQqS97Ynyb7mju3")
                    img.icons.youtube(src="../img/youtube.png" alt="youtube")
                a(href="http://music.naver.com/ML/freakydo9")
                    img.icons.naver(src="../img/naverMusic.png" alt="naver music")
            div.embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src="https://www.youtube.com/embed/CB7yDOMI7k0")
            div.embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src="https://www.youtube.com/embed/0mtAfjZ3P6A")
            div.embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src="https://www.youtube.com/embed/SqQGZ65V_tc")
        footer
            include footer
        include script



