doctype html
html(lang='ko')
    head
        include layout
    body
        include navHeader
        article
            div.embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src="https://www.youtube.com/embed/CB7yDOMI7k0")
            div.embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src="https://www.youtube.com/embed/0mtAfjZ3P6A")
            div.embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src="https://www.youtube.com/embed/SqQGZ65V_tc")
        footer
        include script


