header
    nav.navbar.flex-column.navbar-toggleable-sm.navbar-inverse.bg-inverse
        button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        a(class="navbar-brand" href="#")
        div(class="justify-content-sm-center collapse navbar-collapse" id="navbarNav")
            ul(class="navbar-nav text-danger")
                li(class="nav-item active")
                    a(class="nav-link text-danger" href="index.html") Home
                        span(class="sr-only") (current)
                li(class="nav-item")
                    a(class="nav-link text-danger" href="#") Profile
                li(class="nav-item")
                    a(class="nav-link text-danger" href="#") Sites
                li(class="nav-item")
                    a(class="nav-link text-danger" href="#") Music
