<header>
    <nav class="navbar flex-column navbar-toggleable-sm navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/profile" class="navbar-brand">Ian</a>
        <div class="justify-content-sm-center collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav text-danger">
                <li class="nav-item active">
                    <a href="/" class="nav-link text-danger"><span class="sr-only">(current)</span>Home</a>
                </li>
                <li class="nav-item">
                    <a href="/profile" class="nav-link text-danger">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="/sites" class="nav-link text-danger">Sites</a>
                </li>
                <li class="nav-item">
                    <a href="/music" class="nav-link text-danger">Music</a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link text-danger">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</header>