<!doctype html>
<html lang="ko">
<head>
    <%- include('layout') -%>
    <title>Profile</title>
</head>
<body>
    <%- include('navHeader') -%>
    <article>
        <div class="jumbotron">
            <h5>Hello</h5>
            <br>
            <p>I'm Javascript Full Stack Developer and Electronic Music Producer.</p>
            <p>Do you wanna listen my music?</p>
            <p>
                <a href="/music" class="btn btn-danger" role="button">Click</a>
            </p>
            <p>Do you wanna listen my sites?</p>
            <p>
                <a href="/sites" class="btn btn-info" role="button">Click</a>
            </p>
        </div>
    </article>
    <footer>
        <%- include('footer') -%>
    </footer>
    <%- include('script') -%>
</body>
</html>