doctype html
html(lang='ko')
    head
        include layout
    body
        include navHeader
        article
            div.jumbotron
                h5 Hello
                p I'm Javascript Full Stack Developer and Electronic Music Producer.
                p Do you wanna listen my music?
                p
                    a.btn.btn-danger(href="/music" role="button") Click
                p Do you wanna see my sites?
                p
                    a.btn.btn-info(href="/sites" role="button") Click

        footer
            include footer
        include script
