<!doctype html>
<html lang="ko">
<head>
    <%- include('layout') -%>
    <title>Sites</title>
</head>
<body>
    <%- include('navHeader') -%>
    <footer>
        <%- include('footer') -%>
    </footer>
    <%- include('script') -%>
</body>
</html>