* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: black;
}
// basic

.jumbotron {
  max-width: 75%;
  margin: 4em auto;
  background-color: darkorange;
  color: rgba(89, 0, 0, 0.96);
}
// profile

article {
  .nick {
    color: orange;
    text-align:center;
    .icons {
      margin: 1em 1em;
      margin-top: 2em;
      width: 27px;
      height: 27px;
    }
    .naver {
      border-radius: 15%;
    }
    .soundcloud {
      border-radius: 10%;
    }
    .youtube {
    }
  }
}
// music

div#demo {
  margin-top: 4em;
    .slider {
      width: 310px;
      height: 322px;
      border-radius: 10%;
    }
}
// slider

.embed-responsive {
  margin: 3em auto;
  margin-bottom: 10em;
  max-width: 90%;
}
// music

@media (min-width: 568px) {
  article {
    .nick {
      .icons {
        width: 30px;
        height: 30px;
      }
    }
  }
  body {
    text-align: center;
  }
  header {
    a.navbar-brand {
      margin-left: 13px;
    }
  }
}

@media (min-width: 720px) {
  article {
    .nick {
      .icons {
        width: 36px;
        height: 36px;
      }
    }
  }
  .jumbotron {
    max-width: 60%;
  }
  .embed-responsive {
    max-width: 80%;
  }
  div#demo {
    .slider {
      width: 430px;
      height: 445px;
    }
  }
}


@media (min-width: 992px) {
  article {
    .nick {
      .icons {
        width: 42px;
        height: 42px;
      }
    }
  }
  .jumbotron {
    max-width: 55%;
  }
  .img-fluid {
    max-width: 60%;
  }
  .embed-responsive {
    max-width: 70%;
  }
  div#demo {
    .slider {
      width: 530px;
      height: 550px;
    }
  }
}

@media (min-width: 1200px) {
  article {
    .nick {
      .icons {
        width: 45px;
        height: 45px;
      }
    }
  }
  .jumbotron {
    max-width: 50%;
  }
  .img-fluid {
    max-width: 50%;
  }
  .embed-responsive {
    max-width: 60%;
  }
  div#demo {
    .slider {
      width: 620px;
      height: 640px;
    }
  }
}