* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: black;
}
// basic

.img-fluid {
  max-width: 70%;
  border-radius: 30%;
  margin: 0 auto;
  margin-top: 4em;
  text-align: center;
}
// index

article {
  .nick {
    color: orange;
    text-align:center;
    .icons {
      margin: 1em 1em;
      margin-top: 3em;
      width: 60px;
    }
    .naver {
      border-radius: 15%;
    }
    .soundcloud {
      border-radius: 10%;
    }
    .youtube {
      height: 55px;
    }
  }
}

.embed-responsive {
  margin: 3em auto;
  margin-bottom: 10em;
  max-width: 90%;
}

//music

@media (min-width: 768px) {
  .embed-responsive {
    max-width: 80%;
  }
}


@media (min-width: 992px) {
  .img-fluid {
    max-width: 60%;
  }
  .embed-responsive {
    max-width: 70%;
  }
}

@media (min-width: 1200px) {
  .img-fluid {
    max-width: 50%;
  }
  .embed-responsive {
    max-width: 60%;
  }
}