* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: black;
}


.img-fluid {
  max-width: 70%;
  border-radius: 30%;
  margin: 0 auto;
  margin-top: 4em;
  text-align: center;
}

.embed-responsive {
  margin: 4em auto;
  max-width: 90%;
}
