doctype html
html(lang='ko')
    head
        include layout
    body
        include navHeader
        article
            div.jumbotron.errorFour
                h5 Sorry
                br
                p 404 Error (This Page isn't exist.)

        footer
            include footer
        include script

