header
    nav.navbar.flex-column.navbar-toggleable-sm.navbar-inverse.bg-inverse
        button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        a.navbar-brand(href="/profile") Ian
        div.justify-content-sm-center.collapse.navbar-collapse#navbarNav
            ul.navbar-nav.text-danger
                li.nav-item.active
                    a.nav-link.text-danger(href="/") Home
                        span.sr-only (current)
                li.nav-item
                    a.nav-link.text-danger(href="/profile") Profile
                li.nav-item
                    a.nav-link.text-danger(href="/sites") Sites
                li.nav-item
                    a.nav-link.text-danger(href="/music") Music
                li.nav-item
                    a.nav-link.text-danger(href="/signin") LogIn
